<!doctype html>
<html>

<head>
  <title>mongo scraper</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css"/>
  {{!-- <link rel="stylesheet" href="/assets/css/animate.min.css"> --}}
  {{!-- <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"> --}}
  <!-- or -->
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
          crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
          crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
          crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary text-light new-scrape">Scrape New Articles</a>
                {{!-- <a class="nav-link" href="/api/scrapeArticles">Scrape New Articles</a> --}}
            </li>         
        </ul>      
    </div>
    {{!-- <a class="nav-link text-info" href="/api/articles">Scraped Articles Api</a><a class="nav-link text-info" href="https://github.com/thomson3914/Mongo-News-Scraper">GitHub Repo</a> --}}
     {{!-- <button type="submit" class="btn btn-danger" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear New Articles</button> --}}
     {{!-- <button type="submit" class="btn btn-gradient-danger" id="clear"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear New Articles</button> --}}
</nav>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="noteHead">Comment</p>
                <p id="noteBody"></p>
                <form id="commentForm">
                    <div class="form-group">
                        <label for="title">Add or edit comment:</label>
                        <input autocomplete="off" type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <textarea type="textarea" class="form-control" id="body" aria-describedby="emailHelp" placeholder="Enter comment"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveModal" class="btn btn-info">Save changes</button>
                <button type="button" id="deleteModal" class="btn btn-info">Delete comment</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 m-0">
  <div class="jumbotron text-info text-center mb-3" id="hero">
      <h1 class="display-4 animated pulse delay-1s"><strong>The New York Times </strong><h1>
              <p class="lead text-light"><strong>MongoDB Scraper Edition</strong></p>
            <br>
            <br>        
        
             
</div>

  {{{body}}}

<script type="text/javascript" src="/assets/js/main.js"></script>

</body>


</html>