<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron text-center">
        <h3>Click the Here to Get Started!</h3>
        <a class="btn btn-info text-light m-3 new-scrape animated pulse delay-2s">Scrape New Articles</a>
        <br>
        <hr>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4ltZr3VPmno?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>